<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hazz.kotlinmvp">

    <!-- Get GSM network information status, such as whether the current network connection is valid -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allow access to Wi-Fi network status information -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Allow access to Wi-Fi network status change information -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- Access network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Read phone status -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- SD card read and write permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- home page -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />

        <!-- Video playback details page -->
        <activity
            android:name=".ui.activity.VideoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!-- Classification details -->
        <activity
            android:name=".ui.activity.CategoryDetailActivity"
            android:screenOrientation="portrait" />

        <!-- Search page -->
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- Homepage -->
        <activity
            android:name=".ui.activity.ProfileHomePageActivity"
            android:screenOrientation="portrait" />

        <!-- About-->
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait" />

        <!-- Watch History -->
        <activity android:name=".ui.activity.WatchHistoryActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>